<% var generadorElectricoValue = amenidades3.find(item => "generadorElectrico" in item) %>
<% if (generadorElectricoValue.generadorElectrico != null) { %>
    <li>● Generador Eléctrico</li>
<% } %>

<% var tipoPisoValue = amenidades3.find(item => "tipoPiso" in item) %>
<% if (tipoPisoValue.tipoPiso != null) { %>
    <li>● Tipo Piso: $<%= tipoPisoValue.tipoPiso %> </li>
<% } %>

<% var andenCargaValue = amenidades3.find(item => "andenCarga" in item) %>
<% if (andenCargaValue.andenCarga != null) { %>
    <li>● Anden de Carga</li>
<% } %>

<% var tipoLuzValue = amenidades3.find(item => "tipoLuz" in item) %>
<% if (tipoLuzValue.tipoLuz != null) { %>
    <li>● Luz <%= tipoLuzValue.tipoLuz %></li>
<% } %>

<% var alturaValue = amenidades3.find(item => "altura" in item) %>
<% if (alturaValue.altura != null) { %>
    <li>● Altura: <%= alturaValue.altura %></li>
<% } %>

<% var oficinaValue = amenidades3.find(item => "oficina" in item) %>
<% if (oficinaValue.oficinaValue != null) { %>
    <li>● Oficina </li>
<% } %>

<% var patioManiobrasValue = amenidades3.find(item => "patioManiobras" in item) %>
<% if (patioManiobrasValue.patioManiobras != null) { %>
    <li>● Patio Maniobras </li>
<% } %>

<% var murosValue = amenidades3.find(item => "muros" in item) %>
<% if (murosValue.muros != null) { %>
    <li>●<%= murosValue.muros %> Muros</li>
<% } %>

