<div class="px-5 py-3 text-center">
    <div class="grid grid-cols-2 gap-2 py-2 text-sm">
        <div>
            <i class="fa-solid fa-house"></i> <%= inmueble.m2ConstruidosInmueble %> m2
        </div>
        <div>
            <i class="fa-solid fa-layer-group"></i> <%= inmueble.pisosInmueble %> piso(s)
        </div>
        <div>
            <i class="fa-solid fa-bath"></i> <%= inmueble.baniosInmueble %> baño(s)
        </div>
        <div>
            <i class="fa-solid fa-car"></i> <%= inmueble.estacionamientosInmueble %> estac.
        </div>
    </div>
</div>