<% var m2Terreno = amenidades.find(item => 'm2Terreno' in item)?.m2Terreno; %>
<% var m2Construidos = amenidades.find(item => 'm2Construidos' in item)?.m2Construidos; %>

<div class="px-5 py-3 text-center">
    <div class="grid grid-cols-2 gap-2 py-2 text-sm">
        <div>
            <i class="fa-solid fa-expand"></i> <%= m2Construidos %> m2
        </div>
        <div>
            <i class="fa-solid fa-house"></i> <%= m2Terreno %> m2
        </div>
    </div>
</div>