<div class="w-full">
    <a href="inmueble/1">
        <div class="rounded-lg border border-gray-300 hover:scale-105 transition duration-150">
            <img src="img/casa1_main.png" class="w-full h-44 rounded-t-lg">
            <div class="px-5 py-3">
                <h3 class="text-lg font-semibold"> Nombre
                </h3>
                <div class="grid grid-cols-2 gap-2 py-2">
                    <div>
                        <i class="fa-solid fa-house"></i> N m2
                    </div>
                    <div>
                        <i class="fa-solid fa-layer-group"></i> N niveles
                    </div>
                    <div>
                        <i class="fa-solid fa-bath"></i> N baños
                    </div>
                    <div>
                        <i class="fa-solid fa-car"></i> N estac.
                    </div>
                </div>
                <h3 class="text-lg font-medium">$ N MXN</h3>
                <h3 class="text-lg font-medium">$ N MXN / Mes</h3>
            </div>
        </div>
    </a>
</div>