<header class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center px-4">
        <h1 class="text-white text-2xl">CRUD</h1>
        <nav class="text-white">
            <a href="/crud" class="mx-4 hover:text-gray-400">Pagina de inicio</a>
            <a href="/crud/create" class="mx-4 hover:text-gray-400">Create</a>
            <a href="/crud/read" class="mx-4 hover:text-gray-400">Read</a>
            <a href="/crud/update" class="mx-4 hover:text-gray-400">Update</a>
            <a href="/crud/delete" class="mx-4 hover:text-gray-400">Delete</a>
        </nav>
    </div>
</header>