<!-- Footer Section -->

<div class="bg-gray-800 text-white p-20 justify-center">
    <div class="grid lg:grid-cols-4 md:grid-cols-2 md:gap-12">
        <div class="flex justify-center md:justify-start">
            <div class="bg-white rounded-full w-48 h-48 flex justify-center items-center">
                <a href="/">
                    <img class="h-28 w-28" src="/img/kiarabr_logo.png" alt="Logo de Kiara Bienes Raíces">
                </a>
            </div>
        </div>
        <div class="pt-8 md:pt-0">
            <h3 class="text-lg font-semibold">
                Compañía
            </h3>
            <ul class="text-sm py-5">
                <div class="space-y-4">
                    <li class="hover:underline">Propiedades</li>
                    <li>
                        <a class="hover:underline" href="/contacto">
                            Vender o Rentar mi Propiedad
                        </a>
                    </li>
                    <li class="hover:underline">Vender / Rentar</li>
                    <li>
                        <a class="hover:underline" href="/nosotros">
                            Nosotros
                        </a>
                    </li>
                    <li>
                        <a class="hover:underline" href="/servicios">
                            Servicios
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div>
            <h3 class="text-lg font-semibold">
                Ayuda
            </h3>
            <ul class="text-sm py-5">
                <div class="space-y-4">
                    <li>
                        <a class="hover:underline" href="/politicas">
                            Política de Privacidad 
                        </a>
                    </li>
                </div>
            </ul>
        </div>
        <div>
            <h3 class="text-lg font-semibold">
                Contacto
            </h3>
            <ul class="text-sm py-5">
                <div class="space-y-4">
                    <li><i class="fa-brands fa-whatsapp"></i> +52 442 796 7322</li>
                    <li><i class="fa-brands fa-whatsapp"></i> +52 442 386 3232</li>
                    <li>contacto.kiarainmuebles@gmail.com</li>
                </div>
            </ul>
            <div class="space-x-5">
                <i class="fa-brands fa-facebook fa-2xl hover:text-blue-600 hover:scale-110 transition duration-150"></i>
                <i class="fa-brands fa-youtube fa-2xl hover:text-red-600 hover:scale-110 transition duration-150"></i>
                <i class="fa-brands fa-instagram fa-2xl hover:text-pink-500 hover:scale-110 transition duration-150"></i>
            </div>
        </div>
    </div>
    <div class="flex justify-center pt-10 text-sm">
        <p>
            © 2023 | Kiara Bienes Raíces
        </p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>