<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/sweetalert2.min.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- CDN Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CLI Tailwind -->
    <!-- <link href="/style.css" rel="stylesheet"> -->

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/930eb895c2.js" crossorigin="anonymous"></script>
    <script src="/sweetalert2.min.js"></script>
    
    <link rel="stylesheet" href="/sweetalert2.min.css">
    
    <!-- CDN SWEET ALERT 2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    
    <title>KIARA Bienes Raíces</title>
    <link rel="icon" type="image/png" href="/img/kiarabr_logo.png">

    <!-- Enlazar con el archivo de Sweet Alert 2 -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">