<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CRUD - Read</title>
        <!-- Enlazar con el archivo de estilos de Tailwind -->
        <link href="//cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
        <!-- Enlazar con el archivo de DataTables CSS -->
        <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    </head>

    <body>

        <%- include('includes/NavbarCrud'); %>

        <main class="container mx-auto my-8">

        <div class="flex items-center justify-center">
            <h2 class="text-2xl font-bold mb-4">Elementos de la tabla test_text</h2>
        </div>
        <!-- Inicio de la DataTable de test_text -->
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableTestText" width="100%" cellspacing="0">
            </table>
        </div>

        <div class="flex items-center justify-center">
            <h2 class="text-2xl font-bold mb-4">Elementos de la tabla test_media</h2>
        </div>
        <!-- Inicio de la DataTable de test_media -->
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableTestMedia" width="100%" cellspacing="0">
            </table>
        </div>

        <div class="flex items-center justify-center">
            <h2 class="text-2xl font-bold mb-4">Elementos de la tabla test_file</h2>
        </div>
        <!-- Inicio de la DataTable de test_file -->
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTableTestFiles" width="100%" cellspacing="0">
            </table>
        </div>

        <!-- Enlazar con la biblioteca de jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        <!-- Enlazar con el archivo de DataTables JS -->
        <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>

        <script crossorigin="anonymous" type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>

        <script crossorigin="anonymous" type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
        <script crossorigin="anonymous" type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script crossorigin="anonymous" type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
        <script crossorigin="anonymous" type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>

        <script type="text/javascript">
            var log = console.log;
            $(document).ready(function(e){
                recargarTablaTestText();
                recargarTablaTestMedia();
                recargarTablaTestFiles();
            })
        </script>

        <script type="text/javascript">
            //Intercepta el submit del form
            $("#form").submit(function(e){
                e.preventDefault()
                log("Submit del form")
            })
        </script>

        <script type="text/javascript">
            function recargarTablaTestText(){
                if ($.fn.DataTable.isDataTable("#dataTableTestText")) {
                //$("#table_report").DataTable().clear().draw();
                $("#dataTableTestText").dataTable().fnDestroy();
                //$("#table_report").dataTable();
                $('#dataTableTestText').empty();
                }
                var thead = ""
                var tfooter = ""
                thead += '<thead>'
                    thead += '<tr>'
                    thead += '<th>Id</th>'
                    thead += '<th>Texto</th>'
                    thead += '</tr>'
                thead += '</thead>'
                tfooter += '<tfoot>'
                    tfooter += '<tr>'
                    tfooter += '<th>Id</th>'
                    tfooter += '<th>Texto</th>'
                    tfooter += '</tr>'
                tfooter += '</tfoot>'
                $('#dataTableTestText').append(thead);
                $('#dataTableTestText').append(tfooter);
                $.fn.dataTable.moment('DD-MM-YYYY'); //Para ordenar por fecha
                dataTable = $("#dataTableTestText").dataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                processing : true,
                lengthMenu : [5, 1, 2, 3, 5, 10],
                order      : [[0,'asc']],
                deferRender: true,
                ajax       : '/crud/read/obtener_texto',
                columns    : [
                    {
                        data: "idTestText"
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return '<span class="badge badge-success">'+data.text+'</span>'
                        }
                    },
                    ] 
                })
            }
        </script>

        <script type="text/javascript">
            function recargarTablaTestMedia(){
                if ($.fn.DataTable.isDataTable("#dataTableTestMedia")) {
                //$("#table_report").DataTable().clear().draw();
                $("#dataTableTestMedia").dataTable().fnDestroy();
                //$("#table_report").dataTable();
                $('#dataTableTestMedia').empty();
                }
                var thead = ""
                var tfooter = ""
                thead += '<thead>'
                    thead += '<tr>'
                    thead += '<th>Id</th>'
                    thead += '<th>Texto</th>'
                    thead += '<th>Ruta de imagen</th>'
                    thead += '<th>Imagen</th>'
                    thead += '</tr>'
                thead += '</thead>'
                tfooter += '<tfoot>'
                    tfooter += '<tr>'
                    tfooter += '<th>Id</th>'
                    tfooter += '<th>Texto</th>'
                    tfooter += '<th>Ruta de imagen</th>'
                    tfooter += '<th>Imagen</th>'
                    tfooter += '</tr>'
                tfooter += '</tfoot>'
                $('#dataTableTestMedia').append(thead);
                $('#dataTableTestMedia').append(tfooter);
                $.fn.dataTable.moment('DD-MM-YYYY'); //Para ordenar por fecha
                dataTable = $("#dataTableTestMedia").dataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                processing : true,
                lengthMenu : [5, 1, 2, 3, 5, 10],
                order      : [[0,'asc']],
                deferRender: true,
                ajax       : '/crud/read/obtener_media',
                columns    : [
                    {
                        data: "idTestMedia"
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return '<span class="badge badge-success">'+data.mediaDescription+'</span>'
                        }
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return '<span class="badge badge-success">'+data.mediaRoute+"-"+data.mediaName+'</span>'
                        }
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            //return '<span class="badge badge-success">'+data.mediaRoute+'</span>'
                            return '<img src="'+data.mediaRoute+"/"+data.mediaName+'" alt="Texto alternativo" width="100" height="100">'
                        }
                    },
                    ] 
                })
            }
        </script>

        <script type="text/javascript">
            function recargarTablaTestFiles(){
                if ($.fn.DataTable.isDataTable("#dataTableTestFiles")) {
                //$("#table_report").DataTable().clear().draw();
                $("#dataTableTestFiles").dataTable().fnDestroy();
                //$("#table_report").dataTable();
                $('#dataTableTestFiles').empty();
                }
                var thead = ""
                var tfooter = ""
                thead += '<thead>'
                    thead += '<tr>'
                    thead += '<th>Id</th>'
                    thead += '<th>Texto</th>'
                    thead += '<th>Ruta de archivo</th>'
                    thead += '<th>Archivo</th>'
                    thead += '</tr>'
                thead += '</thead>'
                tfooter += '<tfoot>'
                    tfooter += '<tr>'
                    tfooter += '<th>Id</th>'
                    tfooter += '<th>Texto</th>'
                    tfooter += '<th>Ruta de achivo</th>'
                    tfooter += '<th>Archivo</th>'
                    tfooter += '</tr>'
                tfooter += '</tfoot>'
                $('#dataTableTestFiles').append(thead);
                $('#dataTableTestFiles').append(tfooter);
                $.fn.dataTable.moment('DD-MM-YYYY'); //Para ordenar por fecha
                dataTable = $("#dataTableTestFiles").dataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                processing : true,
                lengthMenu : [5, 1, 2, 3, 5, 10],
                order      : [[0,'asc']],
                deferRender: true,
                ajax       : '/crud/read/obtener_files',
                columns    : [
                    {
                        data: "idTestFile"
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return '<span class="badge badge-success">'+data.fileDescription+'</span>'
                        }
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return '<span class="badge badge-success">'+data.fileRoute+"-"+data.fileName+'</span>'
                        }
                    },
                    {
                        data: null,
                        render: function(data, type, row) {
                            return '<span class="badge badge-success">'+data.fileName+'</span>'
                            //return '<img src="/crud/desencriptar/'+data.mediaName+'" alt="Texto alternativo" width="100" height="100">'
                        }
                    },
                    ] 
                })
            }
        </script>

    </body>
</html>