<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->

    <div class="bg-cover w-full">

        <%- include('partials/navbar') %>

    </div>

       <!-- First Section -->

    <div class="md:flex md:flex-col">
        <div class="px-16 py-10">
            <h2 class="text-4xl font-bold">
                Contáctanos, estamos encantados de
            </h2>
            <h2 class="text-4xl font-bold">
                ayudarte en tu proceso.
            </h2>
        </div>
    </div>

    <!-- Second Section -->

    <div class="hidden lg:flex">
        <img class="h-96 object-cover w-full" src="img/contact_img.jpeg">
    </div>

    <!-- Third Section -->

    <div class="md:flex md:flex-col">
        <div class="px-16 py-4">
            <h2 class="text-base">
                Un agente experto se comunicara contigo quien te proporcionará un plan integral y a la medida para tu casa, tomando en cuenta todos los posibles canales de comercialización 
            </h2>
            <p class="py-4 text-base">
                Contamos con una red nacional para poderte brindar asesoría y apoyo en el lugar que se encuentre tu inmueble.
            </p>
            <p class="text-2xl font-bold">
                Informes al +52 442 796 7322
            </p>
            <p class="text-2xl font-bold">
                Email: contacto.kiarainmuebles@gmail.com
            </p>
        </div>
    </div>

    <%- include("partials/footer") %>

</body>
</html>