<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CRUD - Create</title>
        <!-- Enlazar con el archivo de estilos de Tailwind -->
        <link href="//cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    </head>

    <body>

        <%- include('includes/NavbarCrud'); %>

        <div class="grid grid-cols-2 gap-8">
            <form id="formText" action="create/text" onsubmit="enviarFormulario(e)" onsub class="bg-white p-6 rounded-lg shadow-md" method="POST">
                <div class="mb-4">
                    <h2 class="text-2xl font-bold mb-4">Elementos de la tabla test_text</h2>
                    <label class="text-xl text-gray-600">Nombre</label>
                    <input class="border-2 border-gray-300 p-2 w-full" type="text" name="nombreText" required>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Enviar</button>
            </form>
            <form id="formMedia" action="create/media" onsubmit="enviarFormulario(e)" class="bg-white p-6 rounded-lg shadow-md" method="POST" enctype="multipart/form-data">
                <div class="mb-4">
                    <h2 class="text-2xl font-bold mb-4">Elementos de la tabla test_media</h2>
                    <label class="text-xl text-gray-600">Nombre</label>
                    <input class="border-2 border-gray-300 p-2 w-full" type="text" name="nombreMedia" required>
                    <label class="text-xl text-gray-600">Subir fotografia</label>
                    <input type="file" id="media" name="media" class="border-2 border-gray-300 p-2 w-full"  required>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Enviar</button>
            </form>
            <form id="formFile" action="create/file" onsubmit="enviarFormulario(e)" class="bg-white p-6 rounded-lg shadow-md" method="POST" enctype="multipart/form-data">
                <div class="mb-4">
                    <h2 class="text-2xl font-bold mb-4">Elementos de la tabla test_file</h2>
                    <label class="text-xl text-gray-600">Nombre</label>
                    <input class="border-2 border-gray-300 p-2 w-full" type="text" id="nombreFile" name="nombreFile" required>
                    <label class="text-xl text-gray-600">Subir documento</label>
                    <input class="border-2 border-gray-300 p-2 w-full" type="file" id="file" name="file" required>
                </div>
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">Enviar</button>
            </form>
        </div>

        <script>
            function enviarFormulario(e){
                e.preventDefault();
            }
        </script>

    </body>

</html>