<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->
    <div class="bg-white">
        <%- include("partials/navbar") %>
    </div>

    <div class="px-10 pt-10">
        <div class="space-x-5 space-y-3">
            <% if (idRol == 1) { %>
                <a href="/dashboard" class="text-center w-auto px-5 py-2 font-medium rounded-full hover:font-medium hover:bg-gray-400 hover:text-white">Lista de Usuarios</a>
            <% } %>
            <a href="/dashboard/props" class="px-5 py-2 w-auto text-center rounded-full text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">Lista de Propiedades</a>
            <a href="/dashboard/alta" class="text-center w-auto px-5 py-2 font-medium rounded-full hover:font-medium hover:bg-gray-400 hover:text-white">Dar de alta inmueble</a>
        </div>
        <hr class="h-px my-4 bg-gray-800 border-0">
    </div>


    <!-- Titles -->
    <div class="px-10 py-10 text-center">
        <div>
            <h2 class="text-4xl font-bold">
                Busca Propiedades
            </h2>
            <h2 class="py-6 text-base">
                Puedes buscar propiedades para modificar su agente asignado.
            </h2>
        </div>
        </div>

        
    </div>
    <%- include("partials/listaPropiedades/datatable.ejs",{idRol:idRol, idUsuario:idUsuario}) %>
    <%- include("partials/footer") %>

</body>

</html>