<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    <!-- CDN Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Cosas que aún no entiendo de Tailwind -->
    <link href="input.css" rel="stylesheet">
    <link href="/dist/output.css" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/930eb895c2.js" crossorigin="anonymous"></script>

    <title>Kiara Bienes Raíces</title>
    <link rel="icon" type="image/png" href="./images/kiarabr_logo.png">

</head>
<body style="font-family: 'Montserrat', sans-serif">

    
    <div class="bg-cover" style="background-image: url(./images/housefondo.png)">

        <!-- NavBar Section -->
        <nav class="px-10 py-6">
            <div class="container flex flex-wrap items-center justify-between mx-auto">
                <a href="/" class="flex items-center">
                    <img src="./images/kiarabr_logo.png" class="h-16 w-16" alt="Logo de Kiara Bienes Raíces" />
                </a>
                <div class="flex md:order-2">
                    <button type="button" class="mx-4 px-5 py-2 bg-[#131c1b] text-base text-white border-0 font-semibold rounded-full hover:font-semibold hover:text-[#131c1b] hover:bg-white">
                        Get started
                    </button>
                </div>
                <div id="nav-menu" class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                    <ul class="flex flex-col p-4 mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
                        <li>
                            <a href="#" class="block py-2 pl-3 pr-4 text-base font-medium text-white md:p-0" aria-current="page">Propiedades</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 pl-3 pr-4 text-base font-medium text-white md:p-0">Quiero Vender/Rentar mi Propiedad</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 pl-3 pr-4 text-base font-medium text-white md:p-0">Nosotros</a>
                        </li>
                        <li>
                            <a href="#" class="block py-2 pl-3 pr-4 text-base font-medium text-white md:p-0">Servicios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="px-10 pb-10 lg:grid lg:grid-cols-3 md:flex flex-col">

            <!-- Slogan Section -->

            <div class="px-20 py-20 text-center">
                <h1 class="text-5xl font-extrabold text-white drop-shadow-md">Tu patrimonio, en manos expertas</h1>
            </div>

            <!-- SearchBar Section -->

            <div class="col-span-2 text-gray-600 flex flex-col justify-center px-12 md:pb-10">
                <div class="flex justify-center">
                    <button class="px-5 py-2 border-r-2 bg-[#131c1b] text-base text-white font-semibold rounded-tl-lg hover:font-semibold hover:text-blue-900 hover:bg-white">
                        Rentar
                    </button>
                    <button class="px-5 py-2 bg-[#131c1b] text-base text-white font-semibold rounded-tr-lg hover:font-semibold hover:text-blue-900 hover:bg-white">
                        Comprar
                    </button>
                </div>
                <form>
                    <div class="flex justify-center">
                        <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-base font-semibold text-center text-white bg-[#131c1b] border-0 rounded-l-lg hover:font-semibold hover:text-blue-900 hover:bg-white" type="button">
                            Tipo<i class="ml-2 fa-solid fa-chevron-down"></i>
                        </button>
                        <input class="w-full border border-gray-300 bg-white h-12 px-5 text-sm focus:outline-none focus:border-blue-900 focus:ring-blue-900" placeholder="Ingresa tu búsqueda (ej: Juriquilla)">
                        <button id="dropdown-button" data-dropdown-toggle="dropdown" class="flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-base font-semibold text-center text-white bg-[#131c1b] border-0 rounded-r-lg hover:font-semibold hover:text-blue-900 hover:bg-white" type="button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>



    </div>
  





</body>
</html>