
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esperanos Pronto</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/930eb895c2.js" crossorigin="anonymous"></script>

    <link rel="icon" type="image/png" href="/images/kiarabr_logo.png">
</head>
<body>
    <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
        <div class="text-center">
            <div class="w-full flex justify-center items-center self-center">
                <img class="w-48 h-48 object-scale-down" src="/images/kiarabr_logo.png">
            </div>
          <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">¡Espéranos Pronto!</h1>
          <p class="pt-4 mt-6 text-base leading-7 text-gray-600">Nuestro equipo de desarrollo está trabajando para mejorar tu experiencia.</p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="https://www.facebook.com/urbannus.bienes.raices/?locale=es_LA">
                <i class="fa-brands fa-facebook fa-2xl hover:text-blue-600 hover:scale-110 transition duration-150"></i>
            </a>
            <a href="https://www.youtube.com/@kiarabienesraicesdelgrupou144">
                <i class="fa-brands fa-youtube fa-2xl hover:text-red-600 hover:scale-110 transition duration-150"></i>
            </a>
            <a href="#">
                <i class="fa-brands fa-instagram fa-2xl hover:text-pink-500 hover:scale-110 transition duration-150"></i>
            </a>
          </div>
        </div>
      </main>
</body>
</html>