<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- CDN Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CLI Tailwind -->
    <!-- <link href="/style.css" rel="stylesheet"> -->

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/930eb895c2.js" crossorigin="anonymous"></script>

    <title>Kiara Bienes Raíces</title>
    <link rel="icon" type="image/png" href="img/kiarabr_logo.png">
</head>
<body style="font-family: 'Montserrat', sans-serif">

    <!-- NavBar Section -->

    <div class="bg-white">
        <%- include("partials/navbar") %>
    </div>

    <!-- Heading Section -->

    <div class="p-12">
        <h1 class="text-4xl font-bold">Casa en Zibatá</h1>
        <hr class="h-px my-3 bg-gray-800 border-0">
        
        <div class="grid grid-cols-2">
            <div>
                1
            </div>
            <div class="grid grid-cols-2">
                <div>
                    2
                </div>
                <div>
                    3
                </div>
                <div>
                    4
                </div>
                <div>
                    5
                </div>
            </div>
        </div>

        <!-- <div class="w-full h-">
        
        </div> -->

    </div>

    <!-- Details Section -->

    <div class="p-12 bg-sky-950 text-white space-y-6">
        <div class="md:hidden grid grid-cols-2">
            <div class="flex flex-col justify-center space-y-2">
                <h3 class="text-lg font-semibold text-center">$ 2,500,000</h3>
                <div class="flex text-black text-center justify-evenly">
                    <div class="px-5 py-2 rounded-full bg-white">
                        <p>Venta</p>
                    </div>
                    <div class="px-5 py-2 rounded-full bg-white">
                        <p>Casa</p>
                    </div>
                </div>
            </div>
            <div class="px-5 py-3">
                <div class="grid grid-cols-2 gap-2 py-2 text-sm">
                    <div>
                        <i class="fa-solid fa-house"></i> 450 m2
                    </div>
                    <div>
                        <i class="fa-solid fa-bed"></i> 4 rec.
                    </div>
                    <div>
                        <i class="fa-solid fa-bath"></i> 5 baños
                    </div>
                    <div>
                        <i class="fa-solid fa-car"></i> 4 estac.
                    </div>
                </div>
            </div>
        </div>
        <div class="md:hidden space-y-2">
            <h2 class="text-2xl font-bold">
                Lo que ofrece
            </h2>
            <div class="grid grid-cols-3 space-x-4">
                <div>
                    <ul class="space-y-2">
                        <li>● Cocina</li>
                        <li>● Cocina</li>
                        <li>● Cocina</li>
                    </ul>
                </div>
                <div>
                    <ul class="space-y-2">
                        <li>● 2 pisos</li>
                        <li>● 2 pisos</li>
                    </ul>
                </div>
                <div>
                    <ul class="space-y-2">
                        <li>● En privada</li>
                        <li>● En privada</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="hidden md:grid md:grid-cols-2">
            <div class="flex flex-col justify-center space-y-2">
                <div class="flex flex-col justify-center space-y-2">
                    <h3 class="text-2xl font-bold text-center">$ 2,600,000</h3>
                    <div class="flex text-black text-center md:justify-evenly lg:space-x-12 lg:justify-center">
                        <div class="px-5 py-2 md:w-32 lg:w-40 rounded-full bg-white">
                            <p>Venta</p>
                        </div>
                        <div class="px-5 py-2 md:w-32 lg:w-40 rounded-full bg-white">
                            <p>Casa</p>
                        </div>
                    </div>
                    <div class="px-5 py-3 text-center">
                        <div class="grid grid-cols-2 gap-2 py-2 text-sm">
                            <div>
                                <i class="fa-solid fa-house"></i> 450 m2
                            </div>
                            <div>
                                <i class="fa-solid fa-bed"></i> 4 rec.
                            </div>
                            <div>
                                <i class="fa-solid fa-bath"></i> 5 baños
                            </div>
                            <div>
                                <i class="fa-solid fa-car"></i> 4 estac.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-y-2">
                <h2 class="text-2xl font-bold">
                    Lo que ofrece
                </h2>
                <div class="grid grid-cols-3 space-x-4">
                    <div>
                        <ul class="space-y-2">
                            <li>● Cocina</li>
                            <li>● Cocina</li>
                            <li>● Cocina</li>
                        </ul>
                    </div>
                    <div>
                        <ul class="space-y-2">
                            <li>● 2 pisos</li>
                            <li>● 2 pisos</li>
                        </ul>
                    </div>
                    <div>
                        <ul class="space-y-2">
                            <li>● En privada</li>
                            <li>● En privada</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-y-2">
            <h2 class="text-2xl font-bold">
                Sobre esta propiedad
            </h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, expedita explicabo ex sunt modi assumenda atque, facilis ea maiores ut, optio et! Quas sapiente totam, molestias incidunt consequatur iusto nobis dicta velit harum at distinctio nisi provident natus vitae? Molestias?
            </p>
        </div>
    </div>

    <!-- Map Section -->

    <div class="p-12 space-y-2">
        <h2 class="text-2xl font-bold">
            Conoce los alrededores del inmueble
        </h2>
        <div class="flex flex-col md:grid md:grid-cols-2 space-y-3 md:space-x-8">
            <div class="order-last md:order-first pt-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3734.3812706725193!2d-100.41015993714005!3d20.613310384832868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35ae83751a45d%3A0x4fa6ee69f6b64f3a!2sTecnol%C3%B3gico%20de%20Monterrey!5e0!3m2!1ses-419!2smx!4v1681958955130!5m2!1ses-419!2smx" class="w-full rounded-lg h-80 md:h-96" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum blanditiis eveniet reiciendis nihil nemo, odit nulla amet distinctio numquam, libero doloribus. Tempore quasi doloribus corrupti nesciunt ea, eos perferendis in sunt provident hic distinctio rem beatae dicta porro accusantium eius!
                </p>
            </div>
        </div>
    </div>

    <!-- Footer Section -->

    <%- include("partials/footer") %>

</body>
</html>