<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CDN Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- CLI Tailwind -->
    <!-- <link href="/style.css" rel="stylesheet"> -->

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/930eb895c2.js" crossorigin="anonymous"></script>

    <title>Kiara Bienes Raíces</title>
    <link rel="icon" type="image/png" href="img/kiarabr_logo.png">
</head>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->
    <div class="bg-white">
        <%- include("partials/navbar") %>
    </div>

    <div class="px-10 pb-10 mt-20 space-x-8 grid grid-cols-3 align-middle">
        <div class="text-center">
            <button class="text-center  px-5 py-2 bg-gray-800 text-base text-white font-medium rounded-full hover:font-medium hover:bg-gray-700">
                Lista de usuarios
            </button>
        </div>
        <div class="text-center">
            <button class="text-center w-auto px-5 py-2 font-medium rounded-full hover:font-medium hover:bg-gray-400 hover:text-white">
                Lista de Propiedades
            </button>
        </div>
        <div class="text-center">
            <button class="text-center w-auto px-5 py-2 font-medium rounded-full hover:font-medium hover:bg-gray-400 hover:text-white">
                Mis Propiedades
            </button>
        </div>
    </div>
    <hr class="h-px mx-10 mt-0 bg-gray-800 border-0">


    <!-- Titles -->
    <div class="px-10 py-10 text-center">
        <div>
            <h2 class="text-4xl font-bold">
                Busca Usuarios
            </h2>
            <h2 class="py-6 text-base">
                Puedes buscar usuarios por su nombre, rol modifcar su rol, dar de alta y eliminar
            </h2>
        </div>


        <!-- SearchBar Section -->
        
            <button class="px-5 py-2 rounded-full text-base w-auto text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                + Dar de Alta Nuevo Usuario
            </button>
        </div>

        
    </div>
    <%- include("partials/listaUsuarios/datatable.ejs") %>

    <%- include("partials/footer") %>

</body>

</html>