<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->
    <div class="bg-white">
        <%- include("partials/navbar") %>
    </div>

    <div class="px-10 pt-10">
        <div class="space-x-5 space-y-3">
            <a href="/dashboard" class="px-5 py-2 w-auto text-center rounded-full text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">Lista de Usuarios</a>
            <a href="/dashboard/props" class="text-center w-auto px-5 py-2 font-medium rounded-full hover:font-medium hover:bg-gray-400 hover:text-white">Lista de Propiedades</a>
            <a href="" class="text-center w-auto px-5 py-2 font-medium rounded-full hover:font-medium hover:bg-gray-400 hover:text-white">Mis Propiedades</a>
        </div>
        <hr class="h-px my-4 bg-gray-800 border-0">
    </div>


    <!-- Titles -->
    <div class="px-10 py-10 text-center">
        <div>
            <h2 class="text-4xl font-bold">
                Busca Usuarios
            </h2>
            <h2 class="py-6 text-base">
                Puedes buscar usuarios por su nombre, rol modifcar su rol, dar de alta y eliminar
            </h2>
        </div>


        <!-- SearchBar Section -->
        
            <a href="/dashboard/usuarios/nuevoUsuario" class="px-5 py-2 rounded-full text-base w-auto text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                + Dar de Alta Nuevo Usuario
            </a>
        </div>

        
    </div>
    <%- include("partials/listaUsuarios/datatable.ejs") %>

    <%- include("partials/footer") %>

</body>

</html>