<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->

    <%- include('partials/navbar') %>


    <!-- First Section -->

    <div class="pt-10 pb-4 lg:py-10">
        <div class="px-16">
            <h2 class="text-4xl pb-6">
                <span class="font-bold">Priorizamos tu tranquilidad y confianza, del resto nos encargamos nosotros.</span>
            </h2>
            <p class="text-xl">
                Tenemos plena consciencia de la importancia que tienen para tí cada uno de tus proyectos, 
                por esa razón priorizamos tu tranquilidad brindándote asesoría desde el primer contacto. 
                Nos aseguramos de manejar cada proceso de manera transparente y profesional para asegurar tu satisfacción 
                ya sea a través de la adquisición de una propiedad, 
                venta o cualquier otro tipo de asesoramiento inmobiliario que requieras.
            </p>
        </div>
    </div>

    <!-- Second Section -->

    <div class="hidden lg:flex">
        <img class="h-96 object-cover w-full" src="img/nosotros_img.png">
    </div>
    

    <!-- Third Section -->

    <div class="pt-10 pb-4">
        <div class="px-16 py-2">
             <h2 class="text-4xl pb-6">
                <span class="font-bold">PUNTOS CLAVE</span>
            </h2>
        <div class="px-6">
            <div>
                <ul class="text-xl list-disc">
                    <li>Tranquilidad y confianza del cliente</li>
                    <li>Alivio de preocupaciones y estrés</li>
                    <li>Atención y servicio integral</li>
                </ul>
            </div>
        </div>
        </div>
        <p class="text-center text-4xl py-8">
            <span class="font-bold">Contamos con Certificación y Licencia Inmobiliaria</span>
        </p>
    </div>

    <%- include("partials/footer") %>

</body>
</html>