<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">
    <div class="grid lg:grid-cols-2 h-full">

        <!-- Heading Section -->

        <div class="h-full">
            <div class="flex justify-start px-16 pt-8 pb-3 md:pb-5 md:pt-10">
                <a href="/">
                    <img class="h-16 w-16" src="img/kiarabr_logo.png" alt="Logo de Kiara Bienes Raíces" />
                </a>
            </div>
            <div class="px-16 mt-12 py-2">
                <h1 class="text-4xl font-extrabold py-5">
                    ¿Olvidaste tu Contraseña?
                </h1>
                <h2 class="text-base">
                    Envía un link a tu correo para restablecer tu contraseña.
                </h2>
            </div>

            <!-- Form Section -->

            <form method="POST" action="#" class="flex flex-col space-y-5 px-16 py-4">
                <div class="space-y-2">
                    <label for="emailUsuario">Correo electrónico</label>
                    <input class="h-12 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 
                    focus:ring-gray-800 mt-5" name="emailUsuario" id="emailUsuario" type="email" placeholder="E-mail" required maxlength="40">
                </div>
                <div class="flex flex-col items-center py-10">
                    <button id="submitButton" class="px-5 py-3 w-3/4 rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        Enviar Link para restablecer contraseña
                    </button>
                </div>
            </form>
        </div>

        <!-- Picture Section -->

        <div class="hidden lg:flex lg:h-screen lg:justify-center lg:items-center lg:w-full bg-[#141C2C]">
            <img class="w-1/2 h-1/2" src="img/olvideContrasenia.png" alt="">
        </div>
    </div>
    
</body>
<script>
    document.getElementById("submitButton").addEventListener("click", function(event) {
        event.preventDefault(); // Prevent form submission

        // Show SweetAlert success message
        Swal.fire(
            '¡Revisa tu correo!',
            '¡Se ha enviado un link a tu correo para restablecer tu contraseña!',
            'success'
        );
        
        // Additional logic for form submission can be added here
    });
</script>
</html>