<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">
    <div class="grid lg:grid-cols-2 h-full">

        

        <!-- Heading Section -->

        <div class="h-full">
            <div class="flex justify-end px-16 pt-8 pb-3 md:pb-5 md:pt-10">
                <a href="/">
                    <img class="h-16 w-16" src="img/kiarabr_logo.png" alt="Logo de Kiara Bienes Raíces" />
                </a>
            </div>
            <div class="px-16 py-2">
                <h1 class="text-4xl font-extrabold py-5">
                    ¿Olvidaste tu Contraseña?
                </h1>
                <h2 class="text-base">
                    ¿No tienes una cuenta?
                    <a href="/register" class="underline">Regístrate</a>
                </h2>
            </div>

            <!-- Form Section -->

            <form method="POST" action="/login" class="flex flex-col space-y-5 px-16 py-4">
                <div class="space-y-2">
                    <label for="emailUsuario">Correo electrónico</label>
                    <input class="h-12 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 
                    focus:ring-gray-800 mt-5" name="emailUsuario" id="emailUsuario" type="email" placeholder="E-mail" required maxlength="40">
                </div>
                <div class="space-y-2">
                    <label for="passwordUsuario">Contraseña</label>
                    <input class="h-12 px-5 bg-white w-full rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 
                    focus:ring-gray-800" name="passwordUsuario" id="passwordUsuario" type="password" placeholder="Contraseña" required maxlength="40">
                    <% if (typeof errorLogin !=='undefined' ) { %>
                        <p style="color: red">
                            <%= errorLogin %>
                        </p>
                    <% } %>
                    <% if (typeof errorLoginPassword !=='undefined' ) { %>
                        <p style="color: red">
                            <%= errorLoginPassword %>
                        </p>
                    <% } %>
                </div>
                <div class="flex flex-col items-center py-10">
                    <button class="px-5 py-3 w-3/4 rounded-lg text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700">
                        Inicia sesión
                    </button>
                </div>
            </form>

            <div class="px-16 text-center space-y-5">
                <a href="/olvideContrasenia">
                    <p class="text-base underline">
                        ¿Olvidaste tu Contraseña?
                    </p>
                </a>
                <p class="text-base">
                    Síguenos en
                </p>
                <div class="flex justify-center space-x-5">
                    <a href="https://www.facebook.com/urbannus.bienes.raices">
                        <i class="fa-brands fa-facebook fa-2xl hover:text-blue-600 hover:scale-110 transition duration-150"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UC2Dcf3WB38p_N0hwAjUl0UA">
                        <i class="fa-brands fa-youtube fa-2xl hover:text-red-600 hover:scale-110 transition duration-150"></i>
                    </a>
                    <a href="https://www.instagram.com/">
                        <i class="fa-brands fa-instagram fa-2xl hover:text-pink-500 hover:scale-110 transition duration-150"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Picture Section -->

        <div class="hidden lg:flex">
            <img class="object-cover w-full h-screen" src="img/casaLogin.png" alt="">
        </div>
    </div>
    
</body>
</html>