<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->

        <%- include('partials/navbar') %>

    <!-- First Section -->

    <div class="lg:grid lg:grid-cols-2 md:flex md:flex-col">
        <div class="px-10 py-10">
            <h2 class="text-4xl font-bold">
                Conoce cómo tratamos tus datos
            </h2>
            <h2 class="text-4xl font-bold">
                personales.
            </h2>
        </div>
        <div class="px-16 py-6">
            <p class="py-4 text-base">
                KIARA Bienes Raíces del Grupo Urbannus Bienes Raíces con domicilio conocido en Querétaro, Municipio o Delegación Corregidora, C.P. 76900, en la entidad de Querétaro, País México, utilizará sus datos personales recabados para contratos mercantiles, contratos civiles, publicidad comercial, base de datos, asesoría comercial, arrendamientos comerciales, publicidad redes sociales, negocios, enajenaciones, mercadotecnia o publicitaria, prospección comercial, gestoría ante instituciones de crédito, gestoria broker hipotecario, avaluos peritajes de bienes inmuebles, uso portales inmobiliarios internet. Para mayor información acerca del tratamiento y de los derechos que puede hacer valer, usted puede acceder al aviso de privacidad integral a través de: correo electrónico, página web, redes sociales.
            </p>
        </div>
    </div>

    <!-- Second Section -->

    <div class="py-10 hidden lg:flex">
        <img class="h-96 object-cover w-full" src="img/privacy_img.jpeg">
    </div>

    <%- include("partials/footer") %>

</body>
</html>