<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    
    <!-- CDN Tailwind -->
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->

    <!-- CLI Tailwind -->
    <link href="/style.css" rel="stylesheet">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/930eb895c2.js" crossorigin="anonymous"></script>

    <title>Kiara Bienes Raíces</title>
</head>
<body style="font-family: 'Montserrat', sans-serif">

<div class="container mx-auto">
    <div class="flex w-8/12 mx-auto shadow-lg overflow-hidden">
        <div class="w-1/2" style="background-image: url(img/casa2_main.png);">
    
        </div>

    </div>

</div>


<div class="px-20 py-20 justify-center">
    <h1 class="text-5xl font-extrabold">Bienvenido a Kiara,</h1>
    <h1 class="text-5xl font-extrabold">ingresa tus datos para </h1>
    <h1 class="text-5xl font-extrabold">crear tu cuenta</h1>    
    <div class="mt-5">
        <h2 class="text-4xl font-medium">¿Ya tienes una cuenta?</h2>
        <a href="/login" class="text-4xl font-medium underline">Inicia sesión</a>
    </div>
</div>


<!-- Sección de entradas para la información del usuario para el registro -->
<form action="">
    <div class="grid-cols-4 gap-5">
        <p class="text-base">Nombre(s)</p>
        <input class="h-12 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 required:border-red-500"
        type="text" id="nombre" placeholder="María Regina">
        <p class="text-base">Apellidos</p>
        <input class="h-12 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 required:border-red-500"
        type="text" id="apellido" placeholder="Portillo Hernández">
    </div>
    <div class="grid-cols-2 gap-12">
        <p class="text-base">Correo Electrónico</p>
        <input class="h-12 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 required:border-red-500"
        type="email" id="email" placeholder="alejandro@gmail.com">
        <p class="text-base">Número de teléfono</p>
        <input class="h-12 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 required:border-red-500"
        type="text" id="telefono" placeholder="+52 472 649 9178">
    </div>
    <!-- <div class="grid-cols-2 gap-12">
        <div class="relative" data-te-dropdown-ref"">
            <button id="estadoCivil" px-5 py-2 w-full rounded-full text-base text-white font-medium bg-gray-800 hover:font-medium hover:bg-gray-700 type="button" data-te-dropdown-ref="""" ></button>

        </div>
    </div> -->
    <div class="grid-cols-3 gap-12">
        <p>COntrasela</p>
        <input class="h-12 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 required:border-red-500"
        type="password" id="contrasenia" placeholder="********">
        <input class="h-12 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 required:border-red-500"
        type="password" id="confirmarContrasenia" placeholder="********">
        <input class="h-12 px-5 bg-white w-auto rounded-lg border border-gray-300 text-sm focus:outline-none focus:border-gray-800 focus:ring-gray-800 required:border-red-500"
        type="password" id="confirmarContrasenia" placeholder="********">
    </div>



</form>



    


</body>