<%- include('partials/head') %>

<body style="font-family: 'Montserrat', sans-serif">

    <!-- Heading Section -->

    <div class="bg-cover w-full">

        <%- include('partials/navbar') %>

    </div>

       <!-- First Section -->

    <div class="lg:grid lg:grid-cols-2 md:flex md:flex-col">
        <div class="px-16 py-8">
            <h2 class="text-4xl">
                ¿Necesitas ayuda con tus trámites, 
            </h2>
            <h2 class="text-4xl">
                administración o asesoría legal?
            </h2>
            <h2 class="text-4xl font-bold">
                Tenemos una solución para ti.
            </h2>
        </div>
    </div>

    <!-- Second Section -->

    <div class="px-16">
        <h2 class="text-xl font-bold">
            Trámites y Gestoría 
        </h2>
        <hr class="h-px my-2 md:my-4 bg-gray-800 border-0">
        <div class="px-6 grid grid-cols-2 gap-4">
            <div>
                <ul class="list-disc">
                    <li>Trámite de crédito hipotecario bancario e Infonavit</li>
                    <li>Trámite municipales</li>
                    <li>Renovaciones de contrato de arrendamiento</li>
                </ul>
            </div>
            <div>
                <ul class="list-disc">
                    <li>Trámite de número oficial</li>
                    <li>Trámite de alineamiento</li>
                    <li>Cambio de nombre en servicios como luz y agua</li>
                </ul>
            </div>
        </div>
    </div>


    <!-- Third Section -->

    <div class="md:flex md:flex-col">
        <div class="px-16 py-10">
            <h2 class="text-xl font-bold">
                Administración de Inmuebles
            </h2>
            <hr class="h-px my-2 md:my-4 bg-gray-800 border-0">
            <p class="text-base">
                Administramos desde propiedades pequeñas hasta unidades condominales.
            </p>
            <p class="py-4 text-base">
                Nuestro servicio consiste en administrar y controlar los recursos tangibles e 
                intangibles del condominio buscando como objetivo mantener y mejorar la plusvalía de tu hogar. 
                Atendemos las necesidades de los residentes con acciones preventivas y 
                correctivas para el correcto funcionamiento y sana convivencia entre los involucrados como sigue:
            </p>
            <div class="px-6 grid grid-cols-2 gap-4">
                <div>
                    <ul class="list-disc">
                        <li>Administración de recursos</li>
                        <li>Convocatorias a asambleas</li>
                        <li>Control de gastos</li>
                        <li>Envío de estados de cuenta mensual</li>
                        <li>Comunicación efectiva y avisos importantes</li>
                        <li>Reservaciones</li>
                        <li>Manejo de proveedores</li>
                        <li>Seguimiento a cobro de cuotas de mantenimiento</li>
                        <li>Elaboración y seguimiento de reglamento</li>
                        <li>Trámites y gestiones ante dependencias de gobierno</li>
                        <li>Difusión y ejecución de acuerdos</li>
                        <li>Reuniones de trabajo con comité de vigilancia y mesa directiva</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-disc">
                        <li>Establecimiento y ejecución de bitácoras</li>
                        <li>Elaboración de directorio general del condominio</li>
                        <li>Atención y solución a quejas y sugerencias</li>
                        <li>Contabilidad de la asociación</li>
                        <li>Declaración de impuestos (costo adicional)</li>
                        <li>Alta ante SAT</li>
                        <li>Reporte de ingresos y egresos</li>
                        <li>Manejo de cuentas</li>
                        <li>Cobranza</li>
                        <li>Convenios</li>
                        <li>Estados de cuenta</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Fourth Section -->

    <div class="md:flex md:flex-col">
        <div class="px-16">
            <h2 class="text-xl font-bold">
                Asesoría legal
            </h2>
            <hr class="h-px my-2 md:my-4 bg-gray-800 border-0">
            <p class="text-base">
                Tu tranquilidad es nuestra responsabilidad, por lo que brindamos asesoría y proceder legal 
                acerca de todos los asuntos que tengan que ver con el condominio y sus procesos:
            </p>
            <div class="px-6 py-4 grid grid-cols-2 gap-4">
                <div>
                    <ul class="list-disc">
                        <li>Elaboración de actas</li>
                        <li>Presentación de asambleas</li>
                        <li>Defensa legal para la asociación de colonos</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-disc">
                        <li>Representación con autoridades</li>
                        <li>Protocolización de actas ante notaria</li>
                        <li>Demandas para residentes morosos</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Fifth Section -->

    <div class="md:flex md:flex-col">
        <div class="px-16 py-10">
            <h2 class="text-xl font-bold">
                Mantenimiento
            </h2>
            <hr class="h-px my-2 md:my-4 bg-gray-800 border-0">
            <p class="text-base">
                Basados en alianzas con proveedores expertos en su rama, te ofrecemos mantener en 
                aptas condiciones las instalaciones de tu condominio:
            </p>
            <div class="px-6 py-4 grid grid-cols-2 gap-4">
                <div>
                    <ul class="list-disc">
                        <li>Mantenimiento en general</li>
                        <li>Mantenimiento de áreas comunes</li>
                    </ul>
                </div>
                <div>
                    <ul class="list-disc">
                        <li>Mantenimiento de áreas verdes</li>
                        <li>Mantenimiento de albercas y fuentes</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <%- include("partials/footer") %>

</body>
</html>