<!-- List Propiedades -->
<main class="text-center mb-20 mx-32">
    <!-- Inicio de la DataTable lista usuarios -->
    <div class="table-responsive text-center">
        <table class="table table-bordered text-center " id="dataTablePropiedades" width="100%" cellspacing="0">
        </table>
    </div>
    <!-- Enlazar con la biblioteca de jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!-- Enlazar con el archivo de DataTables JS -->
    <script src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.2/locale/es.js"></script>
    <script crossorigin="anonymous" type="text/javascript"
        src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/datetime-moment.js"></script>

    <script crossorigin="anonymous" type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
    <script crossorigin="anonymous" type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" language="javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" language="javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script type="text/javascript" language="javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script crossorigin="anonymous" type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.html5.min.js"></script>
    <script crossorigin="anonymous" type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.6.1/js/buttons.print.min.js"></script>
    <script src="sweetalert2.min.js"></script>
    <link rel="stylesheet" href="sweetalert2.min.css">
    <script src="https://kit.fontawesome.com/930eb895c2.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        var log = console.log;
        $(document).ready(function (e) {
            recargarTablaPropiedades();
            fixedHeader: {
                header: true;
                footer: true;
            }
        })

    </script>

    <script type="text/javascript">
        /*
         * Carga de la data table que renderiza los datos de los usuarios.
         */

        function recargarTablaPropiedades() {
            //Carga de la tabla de usuarios mediante data table.
            if ($.fn.DataTable.isDataTable("#dataTablePropiedades")) {
                //$("#table_report").DataTable().clear().draw();
                $("#dataTablePropiedades").dataTable().fnDestroy();
                //$("#table_report").dataTable();
                $('#dataTablePropiedades').empty();
            }
            var thead = ""
            var tfooter = ""
            thead += '<thead class="bg-gray-300 text-gray-600">'
            thead += '<tr>'
            thead += '<th>Id del Inmueble</th>'
            thead += '<th>Propiedad</th>'
            thead += '<th>Dueño</th>'
            thead += '<th>Operación</th>'
            thead += '<th>Agente</th>'
            thead += '<th>Modificar agente asignado</th>'
            thead += '<th>¿En proceso?</th>'
            thead += '</tr>'
            thead += '</thead>'
            tfooter += '<tfoot>'
            tfooter += '<tr>'
            tfooter += '<th>Id del Inmueble</th>'
            tfooter += '<th>Propiedad</th>'
            tfooter += '<th>Dueño</th>'
            tfooter += '<th>Operación</th>'
            tfooter += '<th>Rol</th>'
            tfooter += '<th>Modificar agente asignado</th>'
            tfooter += '<th>¿En proceso?</th>'
            tfooter += '</tr>'
            tfooter += '</tfoot>'
            $('#dataTablePropiedades').append(thead);
            // $('#dataTableUsuarios').append(tfooter);
            $.fn.dataTable.moment('DD-MM-YYYY'); //Para ordenar por fecha
            dataTable = $("#dataTablePropiedades").dataTable({
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
                },
                processing: true,
                lengthMenu: [5, 10, 20, 25, 30],
                order: [[0, 'asc']],
                deferRender: true,
                ajax: '/dashboard/propiedades',
                columns: [
                    {
                        data: "idInmueble"
                    },    
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<a href="../inmueble/' + data.idInmueble + '" class="badge badge-success">' + data.nombreInmueble + '</a>'
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            var arrendador = data.nombresArrendador + ' ' + data.apellidosArrendador
                            return '<span class="badge badge-success">' + arrendador + '</span>'
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            if (data.idTipoMovimiento == 1) {
                                var movimiento = 'Venta'
                            }
                            else if (data.idTipoMovimiento == 2) {
                                var movimiento = 'Renta'
                            }
                            else if (data.idTipoMovimiento == 3) {
                                var movimiento = 'Venta/Renta'
                            }
                            return '<span class="badge badge-success">' + movimiento + '</span>'
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            var agente = data.nombresAgente + ' ' + data.apellidosAgente
                            return '<span class="badge badge-success">' + agente + '</span>'
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return '<button type="button" id="button" class="bg-gray-800 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded btnEditarEncargado my-2">Modificar Agente Encargado</button>'
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            //Si el usuario es administrador, ocultar el botón.
                            if (data.activoInmueble == 1) {
                                return '<span class="badge badge-success">' + 'No' + '</span>'
                                //return '<svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 896 1024"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zm79 143c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>'
                            }
                            else {
                                return '<span class="badge badge-success">' + 'Si' + '</span>'
                                //return '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 896 1024"><!--! Font Awesome Pro 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/></svg>'
                            }
                        }
                    },
                ]
            })
        }
    </script>

    <script type="text/javascript">
        /*
        * Acción del botón de edición de rol. Despliega un modal con un dropdown de las opciones disponibles para modificar
        */
        $(document).on("click", ".btnEditarEncargado", function () {
            var agentes = {}
            fila = $(this).closest("tr");
            id = parseInt(fila.find('td:eq(0)').text());
                <%if (idRol == 2) {%>
                    Swal.fire('No tienes permisos administrativos para la modificación.');
                    <%} else if (idRol == 1) {%>
                        $.ajax({
                            url: '/dashboard/agentes',
                            method: 'get',
                            success: function (choice) {
                                for (var i = 0; i < choice.agentesArray.length; i = i + 1) {
                                    var nombre = choice.agentesArray[i].nombresAgente + ' ' + choice.agentesArray[i].apellidosAgente

                                    //agentes.push({choice.agentesArray[i].idUsuario,nombre})
                                    agentes[choice.agentesArray[i].idUsuario] = nombre
                                    /*                                   agentes.push({
                                                                         key: choice.agentesArray[i].idUsuario,
                                                                         value: nombre
                                                                         }) */
                                }
                                const { value: eleccion } = Swal.fire({
                                    //Cuando el botón de modificación de rol sea clickeado, se desplegará un modal con los 3 roles disponibles.
                                    title: 'Selecciona al Encargado Nuevo:',
                                    input: 'select',
                                    inputOptions: agentes,
                                    showCancelButton: true,
                                }).then((result) => {
                                    if (result.value >= 1) {
                                        $.ajax({
                                            url: '/dashboard/props/actualizar/' + result.value+'/'+id,
                                            method: 'put',
                                        });
                                        Swal.fire('¡El encargado ha sido modificado!')
                                        recargarTablaPropiedades();
                                    }

                                })
                            },
                            error: function (XMLHttpRequest, textStatus, errorThrown) {
                                alert("Status: " + textStatus); alert("Error: " + errorThrown);
                            }

                        });
                            <%}%>   
        });
    </script>


    <style>
        #dataTablePropiedades {
            border-style: solid;
            border-width: 1px;
            border-color: #5c5c5c;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    </style>

</main>